@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Aanvraag verzonden";
}

<h2>@ViewData["Title"]</h2>
<p>
    Gelieve jouw e-mail te controleren voor het opnieuw instellen van een wachtwoord.
</p>
